<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iconuim.alc_project" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddToDiary"
            android:label="@string/title_activity_add_to_diary" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>


        </activity>

        <service
            android:name=".UploadService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".BackgroundUpdateService"
            android:exported="false" >
        </service>

        <provider
            android:name=".PDContentProvider"
            android:authorities="com.iconium.pdcontentprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <receiver
            android:name=".PDBroadcast"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />




        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.iconuim.alc_project.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_path" />
        </provider>

        <activity
            android:name=".Details"
            android:label="@string/title_activity_details" >
        </activity>
    </application>

</manifest>

